*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;   /*trabalha melhor o tamanho das caixas*/
    /*   * é chamo de todas as teg do nosso site */
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}